extends layout
block content 
    if riwayatTransaksi.length
        table.listing-table.table-dark.table-striped
            tr
                th Operator
                th Nomor HP
                th Denom
            each transaksi in riwayatTransaksi
                tr
                    td= transaksi.operator
                    td= transaksi.phone
                    td= transaksi.denom
    else
        p Belum ada pembelian pulsa :(
